$blue: #19A1AE;
$circle-size: 50vw;
$circle-pos-tb: -45%;
$circle-pos-rl: -50%;

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

* {
  font-family: 'Kumbh Sans', sans-serif;
}

.debug {
  border: 1pc solid red;
}