$blue: #19A1AE;
$c-tb: -300px;
$c-rl: -400px;




@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

* {
  font-family: 'Kumbh Sans', sans-serif;
}

.debug {
  border: 1pc solid red;
}